@import '@fontsource/silkscreen/400.css';
@import '@fontsource/silkscreen/700.css';
@import "tailwindcss";

:root {
  font-family: 'Silkscreen', monospace;
  color: #fff8d7;
  background: #050505;
  font-synthesis: none;
  text-rendering: geometricPrecision;
  -webkit-font-smoothing: none;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-width: 320px;
}

button,
input,
select,
textarea {
  font-family: inherit;
}